
<p>Xin chào, <span>{{username}}</span></p><button class="href" (click)="logout()">Logout</button>
<router-outlet></router-outlet>
<input class="input" type="text" placeholder="search..." [(ngModel)]="filter">
<div class="container center">
  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of data |filter: filter| paginate: { id: 'pagination', itemsPerPage: 5, currentPage: pageNumber} ">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.uname}}</td>
      <td>{{user.email}}</td>
      <td><button class="button" (click)="deleteUser(user.uname)">Xoa</button></td>
    </tr>
  </table>

</div>
<div style="position: fixed; top: 500px;">
  <pagination-controls id="pagination"
                       (pageChange)="pageNumber = $event"></pagination-controls>
</div>

<router-outlet></router-outlet>
